@model Task.Models.CompaniesDB

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CompaniesDB</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameCompany)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameCompany)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inforamtion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inforamtion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idCompany }) |
    @Html.ActionLink("Back to List", "Index")
</p>
